.input {
  width: 100%;
}

.form-wrapper {
  background-color: rgba(0, 0, 0, 0.7); /* 黑色半透明背景 */
  border-radius: 16px; /* 圆角 */
  padding: 40px; /* 内边距 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
  max-width: 450px; /* 最大宽度 */
  margin: 0 auto; /* 水平居中 */
}

.container {
  background-image: url('../assets/swpuimg.jpg');
  background-size: cover;
  background-position: center;
  /* 背景图片居中 */
}

.form-container {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100vh;
}

.register-button {
  width: 100%;
}

.header {
  display: flex;
  ;
  justify-content: center;
}
